<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Agitg - Home</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description"
	content="eDM郵件大量發送免費使用，最佳化寄件人，讓你更有效率發送大量郵件，讓行銷手中的利器更加進化">
<meta name="author" content="AdminKit">

<meta property="og:title" content="Agitg" />
<meta property="og:description"
	content="eDM郵件大量發送免費使用，最佳化寄件人，讓你更有效率發送大量郵件，讓行銷手中的利器更加進化" />
<meta property="og:url" content="https://www.agitg.com/" />
<meta property="og:locale" content="zh_TW" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Aigtg" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="shortcut icon" href="./img/icons/icon-48x48.ico" />

<link href="./css/bootstrap5/bootstrap.min.css" rel="stylesheet">
<link href="./css/fontawesome/fontawesome.min.css" rel="stylesheet">

<link href="./css/app.css" rel="stylesheet">
<link href="./css/gallery.css" rel="stylesheet">
<link href="./css/jquery/timeTo.css" rel="stylesheet">

<link href="./plugin/summernote-0.8.18-dist/summernote-lite.min.css"
	rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

<link rel="stylesheet"
	href="./plugin/tagsinput/jquery.tagsinput-revisited.css" />


<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>


<div th:replace="common/head :: head"></div>

<style>
.modal:nth-of-type(even) {
	z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
	z-index: 1051 !important;
}

.bootstrap-tagsinput .tag {
	margin-right: 2px;
	color: white !important;
	background-color: #0d6efd;
	padding: 0.2rem;
}
</style>
</head>

<body>

	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html"> <span
					class="align-middle">Agitg Admin</span>
				</a>

				<UL id="menu"></UL>

			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex"> <i
					class="hamburger align-self-center"></i>
				</a>

				<div class="navbar-collapse collapse">
					<div th:replace="common/header :: header"></div>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3>My Mail</h3>
						</div>

						<div class="col-auto ms-auto text-end mt-n1">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
									<li class="breadcrumb-item"><a href="#">Agitg</a></li>
									<li class="breadcrumb-item"><a href="#">Mail</a></li>
									<li class="breadcrumb-item active" aria-current="page">My Mail</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>

				<div class="container-fluid p-0">
					<div id="pageInfo" class="row ">
						<br /> <br /> <br /> <br />
					</div>

				</div>
			</main>

			<div th:replace="common/footer :: footer"></div>

		</div>
	</div>

	<div th:replace="common/javascript :: javascript"></div>
<script type="text/javascript"
		src="./plugin/tagsinput/jquery.tagsinput-revisited.js"></script>
	<link href="./css/upload/all.css" rel="stylesheet">
	<link href="./css/upload/fileinput.min.css?ver=201909132002"
		rel="stylesheet">
	<link href="./css/upload/dropdown.min.css" rel="stylesheet">
	<link rel='stylesheet'
		href='./css/jquery/jquery.datetimepicker.min.css' type='text/css'
		media='all' />

	

	<script src="./js/upload/all-krajee.min.js?ver=201903112143"></script>
	<script src="./js/upload/sortable.min.js" type="text/javascript"></script>
	<script src="./js/upload/piexif.min.js" type="text/javascript"></script>
	<script src="./js/upload/fileinput.min.js?ver=201909132002"></script>
	<script src="./js/upload/dropdown.min.js" type="text/javascript"></script>
	<script src="./js/jquery/jquery.scrollTo-min.js" type="text/javascript"></script>
	<script src="./js/jquery/jquery.twbsPagination.min.js"
		type="text/javascript"></script>
	<script src="./js/jquery/jquery-dateformat.min.js"
		type="text/javascript"></script>
	<script src="./js/jquery/jquery.time-to.min.js"></script>
	<script src="./js/jquery/jquery.timeago.js" type="text/javascript"></script>
	<script src="./js/jquery/aos.js"></script>

	<script src="./plugin/summernote-0.8.18-dist/summernote-lite.min.js"
		type="text/javascript"></script>
	<script type="text/javascript"
		src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
	<script type="text/javascript"
		src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
	<script type="text/javascript"
		src="./plugin/summernote-0.8.18-dist/lang/summernote-zh-TW.min.js"></script>


	<script type='text/javascript'
		src='./vendor/jquery/jquery.datetimepicker.js'></script>

	<script src="./js/module.js"></script>
	<script src="./js/plugin/mail-panel.js"></script>
	<script src="./js/util/gallery-util.js"></script>
	<script src="./js/plugin/summernote-util.js"></script>
	<script src="./js/plugin/mymail.js"></script>
	<script src="./js/app.js"></script>

	<script>
		$(document).ready(function() {
			mymail.action.list();
		});
	</script>
</body>
</html>