<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Agitg - Home</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="eDM郵件大量發送免費使用，最佳化寄件人，讓你更有效率發送大量郵件，讓行銷手中的利器更加進化">
<meta name="author" content="AdminKit">

<meta property="og:title" content="Agitg" />
<meta property="og:description" content="eDM郵件大量發送免費使用，最佳化寄件人，讓你更有效率發送大量郵件，讓行銷手中的利器更加進化" />
<meta property="og:url" content="https://www.agitg.com/" />
<meta property="og:locale" content="zh_TW" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Aigtg" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="shortcut icon" href="./img/icons/icon-48x48.ico" />
<link href="./css/bootstrap5/bootstrap.css" rel="stylesheet">

<link href="css/app.css" rel="stylesheet">

<link href="./css/upload/all.css" rel="stylesheet">
<link href="./css/upload/fileinput.min.css?ver=201909132002" rel="stylesheet">
<link href="./css/upload/dropdown.min.css" rel="stylesheet">

<link href="./vendor/font-awesome/css/all.min.css" rel="stylesheet">
	
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
	rel="stylesheet">
<div th:replace="common/head :: head"></div>
</head>

<body>
	
	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html"> <span
					class="align-middle">Agitg Admin</span>
				</a>

				<div th:replace="common/menu :: menu"></div>

			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex"> <i
					class="hamburger align-self-center"></i>
				</a>

				<div class="navbar-collapse collapse">
					<div th:replace="common/header :: header"></div>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3>大量發信</h3>
						</div>

						<div class="col-auto ms-auto text-end mt-n1">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
									<li class="breadcrumb-item"><a href="#">Agitg</a></li>
									<li class="breadcrumb-item"><a href="#">Mail</a></li>
									<li class="breadcrumb-item active" aria-current="page">Mail Form</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="row">

						<div class="col-xl-12 col-xxl-12">
							<div class="card flex-fill w-100">
								<div class="card-header">
									<h5 class="card-title mb-0">Email Sending Form</h5>
                                </div>
                                <div class="card-body py-12">

                                    <div class="m-sm-4">
                                        <form method="POST" action="./email/createmailWithForm"
                                            enctype="multipart/form-data">
                                            <div class="mb-3">
                                                <label class="form-label">Subject</label> (Required) <input
                                                    class="form-control form-control-lg" type="text"
                                                    name="subject" placeholder="Email Subject">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Email Content</label>
                                                <textarea class="form-control" name="content" rows="10"
                                                    placeholder="Hello! Welcome to send an email."></textarea>
                                                <small> <a href="#">Supports HTML format</a>
                                                </small>
                                            </div>

                                            <div class="mb-3">
                                                <div class="file-loading">
                                                    <input id="file" name="file" type="file" multiple>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Attachment<small> <a
                                                        href="#">Up to 5 files, maximum 2MB per file</a></small>
                                            </div>

											<div class="text-center mt-3">
												<input class="btn btn-primary" type="submit" value="傳送">
											</div>


										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row"></div>


				</div>
			</main>

			<div th:replace="common/footer :: footer"></div>

		</div>
	</div>
	<div th:replace="common/javascript :: javascript"></div>
	<script src="./js/upload/buttons.js" async></script>
	<script src="./js/upload/all-krajee.min.js?ver=201903112143"></script>
	<script src="./js/upload/sortable.min.js"></script>
	<script src="./js/upload/piexif.min.js"></script>
	<script src="./js/upload/fileinput.min.js?ver=201909132002"></script>
	<script src="./js/upload/dropdown.min.js"></script>

	<script src="./js/utils.js"></script>

	<script src="js/app.js"></script>
	<script>
		$(document).ready(function() {

			$("#file").fileinput({
				browseClass : "btn btn-primary btn-block",
				showCaption : false,
				showRemove : false,
				showUpload : false
			});
		});
	</script>
</body>
</html>