<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="行銷可以透過數據分析提高分眾客戶購買，吸引更需要你的產品，提高開信率、點擊率和轉換率。客戶分眾分群有什麼好處？在不同類型的行銷廣告的內容吸引不同類型客戶，提高品牌和產品的知名度。">
<meta name="author" content="AdminKit">

<meta property="og:title" content="Agitg" />
<meta property="og:description"
	content="行銷可以透過數據分析提高分眾客戶購買，吸引更需要你的產品，提高開信率、點擊率和轉換率。客戶分眾分群有什麼好處？在不同類型的行銷廣告的內容吸引不同類型客戶，提高品牌和產品的知名度。" />
<meta property="og:url" content="https://www.agitg.com/" />
<meta property="og:locale" content="zh_TW" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Aigtg" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="shortcut icon" href="./img/icons/icon-48x48.ico" />

<title>Agitg eDM分眾好客戶</title>

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="./assets/vendor/aos/aos.css" rel="stylesheet">
<link href="./assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="./assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="./assets/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="./assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="./assets/vendor/swiper/swiper-bundle.min.css"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link href="./assets/css/style.css" rel="stylesheet">

<div th:replace="common/head :: head"></div>
</head>


<body>
	<div th:replace="common/google :: google"></div>
	<h1 class="visually-hidden">Agitg 分眾好客戶</h1>
	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top">
		<div
			class="container d-flex align-items-center justify-content-between">

			<h1 class="logo">
				<a href="./" alt="Agitg">Agitg</a>
			</h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

			<nav id="navbar" class="navbar">
				<ul>
					<li><a class="nav-link scrollto" href="#pricing">價格</a></li>
					<li><a class="nav-link scrollto" href="#services">服務</a></li>
					<li><a class="nav-link scrollto" href="#about">關於</a></li>
					<li><a class="nav-link scrollto active" href="#hero">首頁</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			<!-- .navbar -->

		</div>
	</header>
	<!-- End Header -->



	<main id="main">

		<!-- ======= About Video Section ======= -->
		<section id="about-video" class="about-video mt-5">
			<div class="container" data-aos="fade-up">

				<div class="row">

					<div class="col-lg-6 video-box align-self-baseline"
						data-aos="fade-right" data-aos-delay="100">
						<img src="./img/system/oauth-fail.png" class="img-fluid"
							alt="Agitg" title="Agitg">

					</div>
					<div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left"
						data-aos-delay="100">
						<h3>請在Google的權限上允許加入我們</h3>
						<p class="fst-italic">
							我們將會取得Google所提供基本資訊的姓名、電子郵件地址和圖片權限，可參考左圖：</p>
						<a target="_blank" href="https://myaccount.google.com/permissions?continue=https%3A%2F%2Fmyaccount.google.com%2Fsecurity%3Fhl%3Den" class="btn-learn-more">Google帳號權限設定</a>
					</div>
				</div>
			</div>

		</section>
		<!-- End About Video Section -->

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer">

		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 footer-contact">
						<h3>Agitg</h3>
						<p>
							<strong>Email:</strong> manager@agitg.com<br>
						</p>
						<p>
							<strong>Tel:</strong> 886-2-2337-5581<br>
						</p>
					</div>

					<div class="col-lg-2 col-md-6 footer-links">
						<h4>相關連結</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">My Mail</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="./rule">Terms
									of service</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="./privacy">Privacy
									policy</a></li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>服務</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="#">EDM</a></li>
						</ul>
					</div>

					<div class="col-lg-4 col-md-6 footer-newsletter">
						<h4>Join Our Newsletter</h4>

					</div>

				</div>
			</div>
		</div>

		<div class="container d-md-flex py-4">
			<div class="me-md-auto text-center text-md-start">
				<div class="copyright">
					&copy; Copyright <strong><span>Agitg</span></strong>. All Rights
					Reserved
				</div>
				<div class="credits">
					<!-- All the links in the footer should remain intact. -->
					<!-- You can delete the links only if you purchased the pro version. -->
					<!-- Licensing information: https://bootstrapmade.com/license/ -->
					<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
					Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
				</div>
			</div>
			<div class="social-links text-center text-md-right pt-3 pt-md-0">
				<a href="https://www.facebook.com/Agitg-111686877810799"
					class="facebook"><i class="bx bxl-facebook"></i></a> <a href="#"
					class="instagram"><i class="bx bxl-instagram"></i></a>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<div id="preloader"></div>
	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="./assets/vendor/aos/aos.js"></script>
	<script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="./assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="./assets/vendor/php-email-form/validate.js"></script>
	<script src="./assets/vendor/purecounter/purecounter.js"></script>
	<script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>

	<!-- Template Main JS File -->
	<script src="./assets/js/main.js"></script>

</body>

</html>