<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description"
	content="eDM郵件大量發送免費使用，最佳化寄件人，讓你更有效率發送大量郵件，讓行銷手中的利器更加進化">
<meta name="author" content="AdminKit">

<meta property="og:title" content="Agitg" />
<meta property="og:description" content="eDM郵件大量發送免費使用，最佳化寄件人，讓你更有效率發送大量郵件，讓行銷手中的利器更加進化" />
<meta property="og:url" content="https://www.agitg.com/" />
<meta property="og:locale" content="zh_TW" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Aigtg" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="shortcut icon" href="./img/icons/icon-48x48.ico" />

<title>Agitg Sign In | Agitg Admin</title>

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="./assets/vendor/aos/aos.css" rel="stylesheet">
<link href="./assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="./assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="./assets/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="./assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="./assets/vendor/swiper/swiper-bundle.min.css"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link href="./assets/css/style.css" rel="stylesheet">
<div th:replace="common/head :: head"></div>
</head>


<body>
	<div th:replace="common/google :: google"></div>
	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top">
		<div
			class="container d-flex align-items-center justify-content-between">

			<h1 class="logo">
				<a href="index.html">Agitg</a>
			</h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

			<nav id="navbar" class="navbar">
				<ul>
					<li><a class="nav-link scrollto active" href="#hero">Home</a></li>
					<li><a class="nav-link scrollto" href="#about">About</a></li>
					<li><a class="nav-link scrollto" href="#services">Services</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			<!-- .navbar -->

		</div>
	</header>
	<!-- End Header -->

	<main id="main">

		<section id="privacy" class="about">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>隱私權</h2>
				</div>

				<div class="row content">
					<div class="col-lg-12">

						<ul class="rule-box">
							<h4>1. &nbsp; AGITG 網站隱私權保護政策適用範圍</h4>
							<li>1.1 以下的隱私權保護政策，適用於您在 AGITG 網站活動時，所涉及的資料蒐集、運用與保護，包括 AGITG
								如何處理在用戶使用網站服務時收集到的身份識別資料，也包括 AGITG 如何處理在商業伙伴與 AGITG
								合作時如何分享身份識別資料。</li>
							<li>1.2 此隱私權保護政策不適用於 AGITG 以外的公司，也不適用於非 AGITG 所僱用或管理的人員。</li>
						</ul>
						<ul class="rule-box">
							<h4>2. 資料收集方式</h4>
							<li>2.1 &nbsp; AGITG 在您註冊 AGITG
								網站帳號時，會請您提供姓名、電子郵件地址、出生日期、性別、職位(選填的資料)、職業(選填的資料)等資料。當您登入使用 AGITG
								網站的產品或服務、瀏覽 AGITG 網站所屬網頁、參加宣傳活動或贈獎遊戲時， AGITG 會收集您的個人識別資料。</li>
							<li>2.2 &nbsp; AGITG 會保留您在上網瀏覽或查詢時，伺服器自行產生的相關記錄，包括您使用連線設備的
								IP 位址、使用時間、Cookies、使用的瀏覽器、瀏覽及點選資料紀錄等。</li>
							<li>2.3 請您注意，在 AGITG 網站刊登廣告之廠商，或與 AGITG
								網站連結的網站，也可能蒐集您個人的資料。對於您主動提供或因您主動點擊廣告而被 AGITG
								以外之他人收集的個人資訊，這些廣告廠商、或連結網站有其個別的隱私權保護政策，其資料處理措施不適用 AGITG 隱私權保護政策，
								AGITG 不負任何連帶責任。</li>
							<li>2.4 除了您主動登錄 AGITG 網站而提供的的個人資料之外，您也可能在 AGITG
								網站的各項服務內(如部落格留言)主動提供個人資料如電子郵件，姓名等。這種形式的資料提供，不在 AGITG
								網站隱私權保護政策的範圍之內。</li>
						</ul>
						<ul class="rule-box">
							<h4>3. 資料使用方式</h4>
							<li>3.1 &nbsp; AGITG
								會使用資料作以下用途：改進為您提供的廣告及網頁內容、完成您對某項產品的要求及通知您特別活動或新產品、您與 AGITG
								提供之各項服務互動之數據分析會使用於網站內容、產品與服務及廣告投放/應用等用途。</li>
							<li>3.2 &nbsp; AGITG
								所收集的資料僅止於商業及市場分析或學術用途；除非受訪者同意，所有資料僅供資料分析之用， AGITG 不會將資訊用做其他用途。</li>
							<li>3.3 &nbsp; AGITG 會對個別連線者的瀏覽器予以標示，歸納使用者瀏覽器在 AGITG
								網站內部所瀏覽的網頁，除非您願意告知您的個人資料，否則 AGITG 不會，也無法將此項記錄和您對應。</li>
							<li>3.4 未經您主動註冊所產生的資料，例如使用者機器的 IP
								位址、使用時間、使用的瀏覽器、瀏覽及點選紀錄等資料，AGITG 會進行全體與個別使用者的行為分析， 以提升使用者在 AGITG
								網站的服務使用體驗 。</li>
							<li>3.5 為提供訂購、行銷、客戶管理或其他合於營業登記項目或章程所定業務需要之目的， AGITG
								於本公司之營運期間及地區內，將以電郵、傳真、電話、簡訊或其他通知公告方式利用您所提供之資料(資料類別：C001、C002、C003、C011等)
								。利用對象除本集團外，亦可能包括相關服務的協力機構。如您有依個資法第三條或其他需要協助之處，得聯繫
								manager@agitg.com 請求協助。相關資料如為非必填項目，不提供亦不影響您的權益。</li>
						</ul>
						<ul class="rule-box">
							<h4>4. 資料分享以及公開方式</h4>
							<li>4.1 除本隱私權保護政策、 AGITG 網站會員服務條款有記載之事由外， AGITG
								絕不會任意出售、交換、或出租任何您的個人資料(如姓名、身分證字號)給其他團體或個人。</li>
							<li>4.2 在以下的情況下， AGITG 會向政府機關、其他人士或公司提供您的個人識別資料：</li>
							<li class="next">4.2.1
								為了提供您其他服務或優惠權益（例如折價券），需要與提供該服務或優惠之第三者共用您的資料時， AGITG
								會在活動時提供充分說明給您，並且在資料提供之前通知您，您可以自由選擇是否接受這項特定服務或優惠。</li>
							<li class="next">4.2.2 需要與其他人士或公司共用您的資料，才能夠提供您要求的產品或服務。</li>
							<li class="next">4.2.3 向與 AGITG
								有契約關係因而提供服務或產品的公司提供資料，以便向您提供產品或服務，前述資料亦可能使用於與前述公司分享、協同分析、使用作為廣告投放/應用
								及 改善使用者體驗作業等用途 (若我們沒有事先通知您，這些公司均無權使用我們提供的個人資料，作提供產品或服務以外的其他用途)。</li>
							<li class="next">4.2.4 政府機關依法要求 AGITG 提供特定個人資料時， AGITG
								將視司法單位合法正式的程序，以及對 AGITG 所有使用者安全考量下做可能必要的配合。</li>
							<li class="next">4.2.5 我們發覺您在網站上的行為違反<a href="/regulation"
								target="_blank"> AGITG 網站會員服務條款</a>或產品、服務的特定使用指南，或者可能損害 AGITG 、
								AGITG 網站使用者或相關第三人之權益時，若 AGITG 有理由相信揭露此資料係為辨識、連絡或對該人採取法律行動所必要者，
								AGITG 得揭露使用者之個人資料。此外，基於善意相信揭露為法律需要，或為維護和改進產品、服務而用於管理或其他目的時，
								AGITG 亦得於 AGITG 網站揭露或讀取使用者之個人資料。
							</li>
							<li>4.3
								為了保護使用者個人隱私及遵守個人資料保護法之規定，我們無法為您查詢其他使用者的帳號資料。若您有相關法律上問題需查閱他人資料時，請向有權處理之政府單位提出告訴，我們將依法配合政府單位調查並提供政府單位依法要求之相關資料，以協助調查。</li>
						</ul>
						<ul class="rule-box">
							<h4>5. Cookies 之使用</h4>
							<li>5.1 依據以下目的及情況， AGITG 會在您電腦中寫入並提取 Cookies：</li>
							<li class="next">5.1.1 為提供您個人化服務，以及方便您參與個人化的互動活動。 cookies
								在您註冊或登入時建立，並在您登出時修改。</li>
							<li class="next">5.1.2 為統計瀏覽人數及分析瀏覽模式，以了解網頁瀏覽的情況，做為 AGITG
								網站改善服務的參考。</li>
							<li>5.2 &nbsp; AGITG 容許經 AGITG 允許而在 AGITG
								網站上擺放廣告的廠商到您的電腦設定並取用 cookie，惟其將根據其自訂的隱私權保護政策，而並非本政策使用其
								cookie。其他非經 AGITG 允許之廣告商或公司不能提取 AGITG 網站的 cookie 。</li>
							<li>5.3 當 AGITG 進行與產品及服務有關的工作時，會使用 web beacons 進入我們的網站伺服器，提取
								cookie 使用。</li>
						</ul>
						<ul class="rule-box">
							<h4>6. 修改個人帳號資料</h4>
							<li>您可在任何時候自行修改或與申請修改您個人在 AGITG 網站註冊之帳號資料及偏好設定</li>
							<li>(包括是否接受 AGITG 網站通知您特別活動或新產品)。</li>
						</ul>
						<ul class="rule-box">
							<h4>7.安全性</h4>
							<li>7.1 為保障您的隱私及安全，您的 AGITG
								網站帳號資料會用密碼保護。請妥善保管您的密碼及或任何個人資料，不要將任何個人資料，尤其是密碼提供給任何人。 AGITG
								絕不會在未經同意的狀況下詢問您的密碼。在您使用完 AGITG
								網站服務後，務必記得登出帳戶。若您是與他人共用電腦或使用公共電腦，請您使用後要關閉瀏覽器視窗並清除瀏覽資訊，以防止他人讀取您的個人資料或信件。</li>
							<li>7.2 在部分情況下 AGITG 使用通行標準的 SSL 保全系統，保障資料傳送的安全。</li>
						</ul>
						<ul class="rule-box">
							<h4>8.隱私權保護政策修訂</h4>
							<li>&nbsp; AGITG 得隨時修訂本政策。當我們修改本政策時，我們會在網頁上張貼告示，請您務必點閱閱讀。</li>
						</ul>
						<ul class="rule-box last">
							<h4>9.看法與建議</h4>
							<li>如有任何看法與建議，請送郵件 manager@agitg.com 告訴我們您的意見。</li>
						</ul>
					</div>
				</div>
		</section>
	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer">

		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 footer-contact">
						<h3>Agitg</h3>
						<p>
							<strong>Email:</strong> manager@agitg.com<br>
						</p>
					</div>

					<div class="col-lg-2 col-md-6 footer-links">
						<h4>Relative</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">My Mail</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Terms
									of service</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Privacy
									policy</a></li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>服務</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="#">EDM</a></li>
						</ul>
					</div>

					<div class="col-lg-4 col-md-6 footer-newsletter">
						<h4>Join Our Newsletter</h4>

					</div>

				</div>
			</div>
		</div>

		<div class="container d-md-flex py-4">

			<div class="me-md-auto text-center text-md-start">
				<div class="copyright">
					&copy; Copyright <strong><span>Agitg</span></strong>. All Rights
					Reserved
				</div>
				<div class="credits">
					<!-- All the links in the footer should remain intact. -->
					<!-- You can delete the links only if you purchased the pro version. -->
					<!-- Licensing information: https://bootstrapmade.com/license/ -->
					<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
					Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
				</div>
			</div>
			<div class="social-links text-center text-md-right pt-3 pt-md-0">
				<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> <a
					href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<div id="preloader"></div>
	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="./assets/vendor/aos/aos.js"></script>
	<script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="./assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="./assets/vendor/php-email-form/validate.js"></script>
	<script src="./assets/vendor/purecounter/purecounter.js"></script>
	<script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>

	<!-- Template Main JS File -->
	<script src="./assets/js/main.js"></script>

</body>

</html>