<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description"
	content="eDM郵件大量發送免費使用，最佳化寄件人，讓你更有效率發送大量郵件，讓行銷手中的利器更加進化">
<meta name="author" content="AdminKit">

<meta property="og:title" content="Agitg" />
<meta property="og:description" content="eDM郵件大量發送免費使用，最佳化寄件人，讓你更有效率發送大量郵件，讓行銷手中的利器更加進化" />
<meta property="og:url" content="https://www.agitg.com/" />
<meta property="og:locale" content="zh_TW" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Aigtg" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="shortcut icon" href="./img/icons/icon-48x48.ico" />

<title>Agitg Sign In | Agitg Admin</title>

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="./assets/vendor/aos/aos.css" rel="stylesheet">
<link href="./assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="./assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="./assets/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="./assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="./assets/vendor/swiper/swiper-bundle.min.css"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link href="./assets/css/style.css" rel="stylesheet">
<div th:replace="common/head :: head"></div>
</head>


<body>
	<div th:replace="common/google :: google"></div>
	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top">
		<div
			class="container d-flex align-items-center justify-content-between">

			<h1 class="logo">
				<a href="index.html">Agitg</a>
			</h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

			<nav id="navbar" class="navbar">
				<ul>
					<li><a class="nav-link scrollto active" href="#hero">首頁</a></li>
					<li><a class="nav-link scrollto" href="#about">關於</a></li>
					<li><a class="nav-link scrollto" href="#services">服務</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			<!-- .navbar -->

		</div>
	</header>
	<!-- End Header -->

	<main id="main">

		<section id="privacy" class="about">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>隱私權</h2>
				</div>

				<div class="row content">
					<div class="col-lg-12">

						<div id="general-terms" class="terms-box">
							<h1>AGITG 網站會員服務條款</h1>
							<div class="innertext">
								<div id="foreword">歡迎您加入成為 AGITG 旗下痞客邦主網站
									http://www.agitg.com 及所相關子網站(網域：agitg.com 、agitg.com.tw)(以下合稱「
									AGITG 網站」) 之網站會員， AGITG 網站會員服務(以下稱會員服務)係由『富梁有限公司』(以下稱
									AGITG
									)所建置提供。本服務條款訂立的目的，是為了保護會員服務的提供者以及所有使用者(以下稱會員)的利益，並構成會員與會員服務提供者之間的契約，使用者於完成註冊手續、或開始使用
									AGITG
									所提供之會員服務前，應詳細閱讀本服務條款之全部條文，一旦您勾選我已同意使用條款並進行註冊，即表示您已知悉、並完全同意本服務條款的所有約定。如您是法律上之無行為能力人或限制行為能力人(如未滿二十歲之未成年人)，則您在加入會員前，請將本服務條款交由您的法定代理人(如父母、輔助人或監護人)閱讀，並得到其同意，您才可註冊及使用
									AGITG 所提供之會員服務。當您開始使用 AGITG
									所提供之會員服務時，則表示您的法定代理人(如父母、輔助人或監護人)已經閱讀、了解並同意本服務條款。</div>
								<div id="clause">
									<h3 class="clause-title">一、會員服務</h3>
									<ul class="clause-text">

										<li>AGITG 提供 AGITG 網站之各項會員服務，僅依當時所提供之功能及狀態提供服務； AGITG
											保留新增、修改或取消會員服務內相關系統或功能之權利。</li>
										<li>會員服務之始期，係自使用者填妥申請資料並完成註冊程序後， AGITG
											於完成相關系統設定、使會員服務達於可供使用之日開始。如您有購買或使用付費服務，您必須及時提供購買流程中所要求之資料、為適切地為您提供相關服務所必須的資料，您並應擔保您所提供的所有資料，都是正確且即時的資料，如果您所留存的資料事後有變更，您應立即更新您所留存的資料。</li>
										<li>因會員服務所提供之所有相關網域名稱、網路位址、功能以及其他一切因會員身分得使用之權益，均仍屬 AGITG
											或其他合法權利人所有，會員僅得於服務期間內依本服務條款之約定為使用，不得以任何方式將其會員權益轉讓、移轉、出租或出借予其他任何第三人。</li>
										<li>會員同意 AGITG
											得不定期提供或寄送電子報、活動訊息及其他生活資訊至您登錄的電子郵件位址或會員提供資料中之地址。</li>
									</ul>
									<h3 class="clause-title">二、資料空間與儲存</h3>
									<ul class="clause-text">
										<li>除付費會員另外再行付費申請加值服務外， AGITG 保留新增或修改儲存空間大小之權利。</li>
										<li>AGITG 會定期備份您所儲存的資料，惟 AGITG 不對刪除的資料或備份儲存失敗的資料負責。</li>
										<li>本系統不擔保您所上載的資料將被正常顯示、亦不擔保資料傳輸的正確性；如果您發現本系統有錯誤或疏失，請立即通知
											AGITG 。</li>
									</ul>
									<h3 class="clause-title">三、帳號、密碼與安全性</h3>
									<ul class="clause-text">
										<li>在您使用會員服務以前，必須經過 AGITG
											所訂的註冊手續，在註冊過程中您必須填入完整、而且正確的資料。如因資料錯誤或未更新所造成的任何問題，您須自行負擔責任。</li>
										<li>對於您所取得的使用者名稱和密碼，您必須負妥善保管和保密的義務，並應為使用此使用者名稱和密碼登入後於本網站之一切行為負責。建議於使用完畢後確實登出，並請勿轉讓、出借予第三者使用，如果您的這個使用者名稱和密碼被其他人冒用或不當使用，
											AGITG 會儘速協助您解決，但不對您負有任何形式之賠償或補償之責任或義務。</li>
									</ul>
									<h3 class="clause-title">四、資料的隱私</h3>
									<ul class="clause-text">
										<li>AGITG
											會依照隱私權政策保護所有會員的隱私，不管是申請帳號、個人資料或所儲存的網站資料，除了可能涉及違法、侵權、或違反服務條款、或經本人同意以外，
											AGITG 不會任意監視、增刪、修改或關閉，或將個人資料內容交予第三者，包括贊助之廣告廠商。</li>
										<li>會員服務中若有部分服務是 AGITG
											與其他合作廠商或夥伴所共同經營者，如果您不願將自身個人資料揭露給其他合作廠商，您可以選擇不使用這些特定服務，但如您開始使用這些特定服務，即表示您同意將個人資料提供給該特定服務之合作廠商；
											AGITG 將在資料蒐集或傳輸前明確告知您，再將您的個人資料揭露給該特定服務之合作廠商。</li>
										<li>您同意在下列的情況下， AGITG
											可查看或提供您的個人資料給法院、主管機關、或提出適當證明主張其權利受侵害之第三人：<br>(1)
											因法令或依司法行政機關之命令<br>(2) 為執行本會員服務條款之需要<br>(3)
											為維護會員服務系統的正常運作與安全<br>(4) 為保護其他使用者或其他第三人的合法權益
										</li>
									</ul>
									<h3 class="clause-title">五、兒童及青少年之保護</h3>
									因網路上之資訊眾多，難免有不適合於兒童與青少年之資訊存在，如暴力、色情或犯罪等資訊，為保護兒童及青少年受到不當資訊的影響，除
									AGITG 網站會設立檢舉管道移除不適當的資訊外，父母或監護人亦須盡到下列義務：<br> 1.
									對於十二歲以上未滿十八歲之青少年，應避免其接觸其他使用者所上傳含有暴力、色情或鼓勵犯罪等資訊之內容。<br> 2.
									未滿十二歲之兒童，應全程陪同其上網，以避免兒童接觸到不當資訊。<br>
									<h3 class="clause-title">六、關於 AGITG 網站會員服務的廣告</h3>
									<ul class="clause-text">
										<li>AGITG 網站提供所有頁面之相關所有權及廣告版面經營權，包括但不限於網頁最上方以及其他 AGITG
											認為適當之位置或方式所出現之橫幅式廣告、跳躍式廣告或其他形式廣告與訊息等，均仍歸 AGITG 所有，除另行取得 AGITG
											事前同意外，會員或第三人均不得以任何方式自行或以第三人名義銷售、經營、或對第三人提供此等網路廣告或類似業務。然會員自身的個人部落格頁面空間不在此限。</li>
										<li>所有於 AGITG 網站出現之廣告資訊，均由個別廣告主或贊助廠商自行負完全之責任，與 AGITG 無關。</li>
									</ul>
									<h3 class="clause-title">七、使用者的行為</h3>
									<ul class="clause-text">
										<li>您必須遵守相關法令規範，且您同意不從事以下的行為：<br>(1)
											刊載、傳輸、發送或儲存任何誹謗、詐欺、傷害、猥褻、色情、賭博、謾罵、不實或其他一切違反中華民國法令之檔案或資料。<br>(2)
											刊載、傳輸、發送或儲存任何侵害他人智慧財產權或其他權益的資料。<br>(3)
											未經同意擅自摘錄或使用會員服務內任何資料庫內容之全部或一部。<br>(4)
											刊載、傳輸、發送、儲存病毒、或其他任何足以破壞或干擾電腦系統或資料的程式或訊息。<br>(5)
											破壞或干擾會員服務的系統運作或違反一般網路禮節之行為。<br>(6)
											在未經授權下進入會員服務系統或冒用他人帳號或偽造他人辨識資料。<br>(7)
											任何竊取會員服務之會員帳號、密碼或存取權限之行為。<br>(8) 任何妨礙或干擾其他使用者使用會員服務之行為。<br>(9)
											其他不符合會員服務所提供的使用目的之行為。<br>(10) 破壞及干擾本服務所提供之各項
											資料、活動或功能，或以任何方式侵入、試圖侵入、破壞本服務之任何系統，或藉由本服務為任何侵害或破壞行為。<br>(11)
											從事不法交易行 為或刊載引人犯罪之訊息或買賣行為。
										</li>
										<li>會員服務內之各類文字、圖檔、圖片及其他著作或資料，其著作權或其他相關智慧財產權均仍屬於合法權利人所有，由合法權利人依照當時所定之授權條件及範圍授權會員使用，但僅限於您個人於
											AGITG
											網站上使用，未經事前授權您不可以將這些文字、圖檔、圖片或其他著作或資料為重製、公開口述、公開播送、公開上映、公開演出、公開傳輸、改作、散布、發行、公開發表、銷售、轉讓、出租、出借、轉授權、隨書附贈或其他任何形式的使用，亦不得上載於其他任何網站、或以其他方式提供予其他人使用。</li>
										<li>AGITG
											並未針對會員所傳送、張貼或發表之內容做任何形式或實質之審查，如果任何文字、圖檔、圖片或其他著作或資料發生權利歸屬或其他合法性爭議，
											AGITG
											有權隨時不經通知，直接停止提供會員服務、或直接刪除該文字、圖檔、圖片或其他著作或資料、或通知會員停止使用會員服務。<br>如您認為
											AGITG 網站中之任何網頁內容或其他會員使用 AGITG 網站服務已侵害您的著作權，請您至
											manager@agitg.com 與客服人員聯繫，客服人員將會儘速為您處理。
										</li>
										<li>若有發現任何色情、侮辱、誹謗等不合規定的圖片， AGITG 將立即刪除，並砍除帳號，不另通知。</li>
									</ul>
									<h3 class="clause-title">八、責任限制</h3>
									<ul class="clause-text">
										<li>對於 AGITG
											所提供之各項會員服務，均僅依該服務當時之功能及現況提供使用；對於使用者之特定要求或需求，包括但不限於速度、安全性、可靠性、完整性、正確性及不會斷線和出錯等，
											AGITG 不負任何形式或內容之擔保或保證責任。</li>
										<li>對於您所上傳的圖片或文字等資料，您應自行判斷是否適宜公開傳送至網站上， AGITG
											會盡最大努力保證您資料的安全性，但無法保證任檔案或資料於傳送過程均係可靠且正確無誤，亦不保證所儲存的檔案或資料之安全性、可靠性、完整性、正確性及不會斷線和出錯等。</li>
										<li>對於您於本服務中所下載之電子郵件、檔案及其他資料，您應該自行考量其風險，如因下載而造成您電腦系統的損壞或電腦中資料的遺失，
											AGITG 不負任何擔保責任。</li>
										<li>在本服務中，由您及其他會員上載、公開傳輸、公開發表或私下傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其他資料（以下簡稱「使用者內容」），均由「使用者內容」的提供者自負責任。本服務無法控制經由本服務而張貼之「使用者內容」，因此不保證其正確性、完整性或品質。您了解使用本服務時，可能會接觸到令人不快或厭惡的「使用者內容」。在任何情況下，
											AGITG
											均不為任何「使用者內容」負責，包含但不限於任何錯誤或遺漏，以及經由本服務張貼、發送電子郵件或傳送而衍生之任何損失或損害。</li>

									</ul>
									<h3 class="clause-title">九、服務暫停或中斷</h3>
									<ul class="clause-text">
										<li>會員服務系統或功能『例行性』之維護、改置或變動所發生之服務暫停或中斷， AGITG
											將於該暫停或中斷前以電子郵件、公告或其他適當之方式告知會員，您同意 AGITG 不須因此負損害賠償責任。</li>
										<li>在下列情形， AGITG 將暫停或中斷本服務之全部或一部，且對使用者任何直接或間接之損害，均不負任何責任：<br>(1)
											對本服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時<br>(2) 使用者有任何違反政府法令或本服務條款情形<br>(3)
											天災或其他不 可抗力所致之服務停止或中斷<br>(4) 任何不可歸責於 AGITG 之事由所致之服務停止或中斷。
										</li>
										<li>如因可歸責於 AGITG 之事由，致服務停止者， AGITG 會因情節補償付費會員之使用天數。</li>
									</ul>
									<h3 class="clause-title">十、終止服務</h3>
									<ul class="clause-text">
										<li>基於公司的運作，會員服務有可能停止提供服務之全部或一部，使用者不可以因此而要求任何賠償或補償。</li>
										<li>如果您違反了本服務條款， AGITG
											保留隨時暫時停止提供服務、或終止提供服務之權利，您不可以因此而要求任何賠償或補償。</li>
										<li>您同意如果您在會員服務上所刊載、傳輸、發送或儲存的檔案或資料，有任何違反法令、違反本服務條款、或有侵害第三人權益之情事者，
											AGITG 得隨時得不經通知直接加以移動、刪除或停止服務提供之權利，且不負損害賠償責任。若 AGITG
											因此受到任何損害，您應對 AGITG 負損害賠償之責。</li>
										<li>會員服務系統會自動偵測沒有使用的會員帳號，如連續超過三年均未使用，系統將自動將您於該帳號內之所有檔案、資料及使用設定資料檔全數刪除且不予另行備份，並將您的會員帳號暫停使用。上述有無使用之紀錄，均以
											AGITG 網站之會員服務系統內所留存之紀錄為準。</li>
									</ul>
									<h3 class="clause-title">十一、修改本服務條款的權利</h3>
									<ul class="clause-text">
										<li>AGITG 保留隨時修改本會員服務條款的權利，修改後的 AGITG 網站會員服務條款將公佈在 AGITG
											網站之會員服務網站上，您同意將自行主動閱讀 AGITG 不另外個別通知使用者。</li>
										<li>本同意書所訂之任何服務條款之全部或部份無效時，不影響其他有效條款之效力。</li>
									</ul>
									<h3 class="clause-title">十二、準據法及管轄權</h3>
									<ul class="clause-text">
										<li>本服務條款解釋、補充及適用均以中華民國法令為準據法。</li>
										<li>因本服務條款所發生之訴訟，以台灣台北地方法院為第一審管轄法院。</li>
									</ul>
									<h3 class="clause-title">2021年 06月 01日</h3>
								</div>
							</div>
							<!--innertext-->
						</div>

					</div>
				</div>
		</section>
	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer">

		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 footer-contact">
						<h3>Agitg</h3>
						<p>
							<strong>Email:</strong> manager@agitg.com<br>
						</p>
					</div>

					<div class="col-lg-2 col-md-6 footer-links">
						<h4>Relative</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">My Mail</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Terms
									of service</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Privacy
									policy</a></li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>服務</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="#">EDM</a></li>
						</ul>
					</div>

					<div class="col-lg-4 col-md-6 footer-newsletter">
						<h4>Join Our Newsletter</h4>

					</div>

				</div>
			</div>
		</div>

		<div class="container d-md-flex py-4">

			<div class="me-md-auto text-center text-md-start">
				<div class="copyright">
					&copy; Copyright <strong><span>Agitg</span></strong>. All Rights
					Reserved
				</div>
				<div class="credits">
					<!-- All the links in the footer should remain intact. -->
					<!-- You can delete the links only if you purchased the pro version. -->
					<!-- Licensing information: https://bootstrapmade.com/license/ -->
					<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
					Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
				</div>
			</div>
			<div class="social-links text-center text-md-right pt-3 pt-md-0">
				<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> <a
					href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<div id="preloader"></div>
	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="./assets/vendor/aos/aos.js"></script>
	<script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="./assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="./assets/vendor/php-email-form/validate.js"></script>
	<script src="./assets/vendor/purecounter/purecounter.js"></script>
	<script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>

	<!-- Template Main JS File -->
	<script src="./assets/js/main.js"></script>

</body>

</html>